/* td {
    width: 150px;
  } */
  
  .nopre {
    background-color: lightblue;
  }
  
  .withpre {
    background-color: orange;
    white-space: pre;
  }
  
  .withprewrap {
    /* background-color: lightgreen; */
    white-space: pre-wrap;
  }

  .current-page {
	font-size: 1.5rem;
	vertical-align: middle;
}

table {  width: 100%; overflow-y: hidden; }

tr,td,th {
	text-align:left;  
	border: 1px solid black;
	font-size: 18px ;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
}

.user__body {
	padding-left: 20px;
	padding: 20px;
}

.current-page {
    font-size: 1.5rem;
    vertical-align: middle;
  }

  

  